<body>
    <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
              <i class="fas fa-bars"></i>
          </span>
      <a href="#" class="logo">Admin Paneli</a>
      <ul class="main-nav" id="js-menu">
        <li>
          <a href="/home" class="nav-links">Anasayfa</a>
        </li>
        <li>
          <a href="/yorum" class="nav-links">Yorum Ekle</a>
        </li>
        <li>
          <a href="/user" class="nav-links">Kullanıcılar</a>
        </li>
        <li>
            <a href="/profile" class="nav-links">Profil</a>
        </li>
        <li>
          <a href="/List" class="nav-links">List</a>
        </li>
       
      </ul>
    </nav>
  </body>