<body>
    <nav class="navbar">
      <span class="navbar-toggle" id="js-navbar-toggle">
              <i class="fas fa-bars"></i>
          </span>
      <a href="#" class="logo">Rea Academy</a>
      <ul class="main-nav" id="js-menu">
        <li>
          <a href="/home" class="nav-links">Anasayfa</a>
        </li>
        <li>
          <a href="/admin" class="nav-links">Admin Paneli</a>
        </li>
        <li>
          <a href="/Twitler" class="nav-links">Twitler</a>
        </li>
        <li>
          <a href="/login" class="nav-links">Login</a>
        </li>
      </ul>

      
    </nav>
  </body>