
.card {
    margin-top: 5vh;
  }

.w-full{
    font-weight: 80%;
}

.p-input-icon-left {
    display: flex;
    align-items: center;
  }
  
  .p-input-icon-left p-button {
    margin-right: 5px;
  }

  .button-group {
    display: flex; 
}

.button-group button {
    margin-right: 5px; 
}

